@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

:root{
    --pri-color: #FFD56A;
    --sec-color: #FF5117;
    --font-color: #513630;
}

body{
    font-family: 'Irish Grover', cursive;
    color: var(--font-color);
    padding: 2em;
}

a{
    text-decoration: none;
}

#scratchCanvas, #emojiCanvas{
    position: fixed;
    top: 30vh;
    left: calc(50% - 30vw);
    height: 500px;
    width: 500px;
    display: none;
}

#scratchCanvas{
    z-index: 1;
}

#emojiCanvas{
    z-index: -1;
}

#count{
    color: var(--sec-color);
    font-size: 1.5em;
    position: fixed;
    top: 1em;
    padding-left: calc(50% - 30vw);
    display: none;
}

#countnum {
    display: inline;
}

.congrats{
    animation: congrats 1s 3 forwards;
}

@keyframes congrats{
    0%{
      transform: scale(1);
    }
  
    100%{
      transform: scale(1.2);
    }
}

/* BUTTONS */
#bgColor, #reset {
    background-color: var(--pri-color);
    border-radius: 10px;
    padding: 0.5em 1em;
    border: 0;
    box-shadow: 0 5px 0 gray;
    margin-bottom: 2em;
    transition: all 0.5s;
    overflow: hidden;
    font-size: 1em;
    font-family:  'Irish Grover', cursive;
    color: var(--font-color);
}

#reset {
    position: fixed;
    left: calc(100% - 6em);
    top: 10%;
}

#bgColor:active, #reset:active {
    box-shadow: 0 0 0 gray;
    transform: translateY(10px);
}

footer{
    position: fixed;
    top: 95%;
}

@media screen and (max-width: 600px) {
    #scratchCanvas, #emojiCanvas{
        position: fixed;
        top: 35%;
        left: 0;
        height: 50vh;
        width: 100vw;
    }

    #count{
        font-size: 1em;
    }

    #bgColor, #reset {
        border-radius: 5px;
        padding: 0.25em 0.5em;
        font-size: 0.75em;
    }
    
}